@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.main {
  padding: 41px 0 96px;
}
.frame {
  margin-top: 26px;
}
.login h1 {
  margin: 16px 0;
  font-size: 30px;
  line-height: 38px;
  width: 295px;
}
.desc {
  width: 282px;
}
