@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@font-face {
  font-family: "AvertaLight";
  src: url("/public/fonts/Averta/AvertaStd-Light.ttf") format("truetype");
}

@font-face {
  font-family: "AvertaRegular";
  src: url("/public/fonts/Averta/AvertaStd-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "AvertaSemibold";
  src: url("/public/fonts/Averta/AvertaStd-Semibold.ttf") format("truetype");
}

@font-face {
  font-family: "AvertaBold";
  src: url("/public/fonts/Averta/AvertaStd-Bold.ttf") format("truetype");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: "AvertaRegular", sans-serif;
  color: #1f2937;
}
.lightFont {
  font-family: "AvertaLight", sans-serif;
}
.semiboldFont {
  font-family: "AvertaSemibold", sans-serif;
}
.boldFont {
  font-family: "AvertaBold", sans-serif;
}

main,
section,
nav {
  width: 100%;
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 0px;
  border-bottom: 1px solid #e3e7ef;
  position: fixed;
  z-index: 1000;
  top: 0;
  background-color: #fff;
}
section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.container {
  width: 320px;
  /* border: 1px solid red; */
}

p {
  font-size: 16px;
  line-height: 24px;
}
a {
  text-decoration: none;
}
input {
  background: none;
  border: none;
  font-family: "Averta", sans-serif;
  font-size: 16px;
  line-height: 24px;
}
input:focus {
  border: none;
  outline: none;
}
input:-webkit-autofill {
  background-color: #fff !important;
  color: #0f172a !important;
  transition: background-color 5000s ease-in-out 0s;
}
select:focus {
  border: none;
  outline: none;
  font-family: "Averta", sans-serif;
  font-size: 16px;
  line-height: 24px;
}

button {
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-family: "Noto Sans", sans-serif;
  font-weight: 600;
  width: 100%;
  height: 48px;
  cursor: pointer;
}

.filled {
  background-color: #e65539;
  color: #fff;
  border: none;
}

.outlined {
  background: none;
  border: 1.6px solid #e65539;
  color: #e65539;
}

.bare {
  background: none;
  border: none;
  color: #e65539;
}

.slick-slide > div {
  margin: 0 10px;
}
.slick-dots {
  position: relative !important;
  bottom: unset !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center;
}
.slick-dots li {
  margin: 0px !important;
}
.slick-dots li button::before {
  transition: opacity 0.3s ease;
}

.slick-dots li.slick-active button::before {
  transform: scale(1);
}

@media screen and (min-width: 400px) {
  .container {
    width: 340px;
    /* border: 1px solid red; */
  }
}

@media screen and (min-width: 500px) {
  .container {
    width: 480px;
    /* border: 1px solid red; */
  }
}

@media screen and (min-width: 600px) {
  .container {
    width: 590px;
    /* border: 1px solid red; */
  }
}

@media screen and (min-width: 850px) {
  .container {
    width: 840px;
    /* border: 1px solid red; */
  }
}

@media screen and (min-width: 1000px) {
  .container {
    width: 980px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1180px;
  }
  button {
    height: 56px;
  }
}

@media screen and (min-width: 1400px) {
  .container {
    width: 1380px;
  }
}

@media screen and (min-width: 1540px) {
  .container {
    width: 1519px;
  }
}
